xc3s50an/ise/*
!xc3s50an/ise/digital_wifi_clock.xise
!xc3s50an/ise/digital_wifi_clock.gise
xc3s50an/questasim/work/*
xc3s50an/questasim/transcript
*wlf
xc3s50an/xcore/uart_fifo/*
!xc3s50an/xcore/uart_fifo/uart_fifo.xco
!xc3s50an/xcore/uart_fifo/uart_fifo.vhd

