# global clk
NET "aclk" BUFG = CLK;
NET "aclk" PERIOD = 33.33 ns;
#30 MHz
NET "aclk"           LOC = P58  | IOSTANDARD = LVCMOS33; # IO_L10P_2/GCLK2
NET "aclk" CLOCK_DEDICATED_ROUTE = FALSE;
# tm1637 interface                   
NET "tm1637_clk"     LOC = P30  | IOSTANDARD = LVCMOS33; # IO_L11N_3
NET "tm1637_do"      LOC = P31  | IOSTANDARD = LVCMOS33; # IO_L12P_3
# uart esp-01
NET "esp_01_uart_rx" LOC = P3   | IOSTANDARD = LVCMOS33; # IO_L02P_3
NET "esp_01_uart_tx" LOC = P4   | IOSTANDARD = LVCMOS33; # IO_L01P_3
# status led
NET "led"            LOC = P138 | IOSTANDARD = LVCMOS33; # IO_L11P_0
# i2c ds1307

